$empty-space-color: whitesmoke;
$whites-space-color: coral;
$blacks-space-color: darkslategrey;
$active-piece-color: rosybrown;
$whites-piece-color: cornsilk;
$blacks-piece-color: black;

body {
  font-family: sans-serif;
  background-color: $empty-space-color;
}

table.chessboard {
  margin: 80px auto;
  border-collapse: collapse;

  tr {
    border: none;

    &.whites {
      .fas {
        color: $whites-piece-color;
      }
    }

    &.blacks {
      .fas {
        color: $blacks-piece-color;
      }
    }
  }

  tr:nth-child(odd) td:nth-child(even),
  tr:nth-child(even) td:nth-child(odd) {
    background: $whites-space-color;
  }

  td {
    width: 35px;
    height: 35px;
    background: $blacks-space-color;
    border: 2px solid $blacks-space-color;
    text-align: center;

    i {
      width: 100%;
      height: 100%;
      font-size: 24px;
      line-height: 1.4;
    }
  }

  td.space {
    border: none;
    background: $empty-space-color !important;
  }

  td.active {
    background-color: $active-piece-color;
  }
}